header{


    }
    
    img{
        max-height: 30%;
        max-width: 30%;  
    }
    
    header{
        margin: 0;
        padding: 0;
    display: flex; flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    div{
        display: flex; flex-direction: column;
    }